<div class="main">
  <div class="wrapper">
    <div>
      <h1>Login</h1>
    </div>
    <div class="form">
      <%= form_tag '/users/login', :class => 'form-input' do %>
        <label class="ddsa">Name: </label>
        <%= text_field_tag :name, nil, class: 'special_input'%>
        <label>Password: </label>
        <%= password_field_tag :password %>
        <div class="form-input submit-btn">
        <%= submit_tag "Submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
