<div class="main">
  <div class="wrapper">
    <div class="recipes-container">
      <div class="heading">
        <h1>Recipes</h1>
      </div>
      <div class="recipes-section">
        <% @recipes.each do |recipe| %>
          <div class="recipe-single">
              <a href="/recipes/<%= recipe.id %>" >
                <%= recipe.name %>
                <img src=<%= recipe.avatar.url %> alt="">
              </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
