<div class="main">
  <div class="wrapper">
    <div class="greeting">
      WELCOME
    </div>
    <div class="menu">
      <%= link_to "New user", "/users/new" %>
    </div>
    <div class="menu">
      <%= link_to "Log in", "/users/login" %>
    </div>
  </div>
</div>
