.container {
  height: 30px;
  background-color: #d64862;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-text {
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-right: 30px;
}
