.top_section {
  display: flex;
  flex-direction: column;
}

.logo_bar {
  display: flex;
  color: white;
  font-style: italic;
  font-size: 25px;
  background-color: #d64862;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.top_bar {
  height: 50px;
  background-color: #e0c0c6;
}
