.top_section {
  display: flex;
  flex-direction: column;
}

.logo_bar {
  display: flex;
  color: white;
  font-style: italic;
  font-size: 25px;
  background-color: #d64862;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.logo_bar img {
  width: 50px;
}

.top-bar {
  height: 40px;
  background-color: #e0c0c6;
  display: flex;
  font-weight: bolder;
  justify-content: space-around;
  align-items: center;
}
