// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  display: flex;
  justify-content: center;
  background-image: url(image-url('background.jpg'));
  background-size: cover;
  background-repeat: repeat-y;
}

.wrapper {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 625px;
}

.greeting {
  font-size: 35px;
  margin: 50px;
}

.menu {
  font-size: 30px;
  margin: 10px;
}
 a {

  text-decoration: none;
  color: black;
 }
 a:hover {
  color: #d64862;
 }

.picture img {
  margin-top: 40px;
}
