// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ingredient-form-input {
  font-size: 20px;
  margin: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
ul.ui-autocomplete {
  border-radius: 5px;
  background-color: #e0c0c6;
  max-width: 200px;
  list-style-type: none;
  padding-left: 5px;
}

.ui-autocomplete:hover {
 cursor: pointer;
}
.recipe-suggest-container {
  display: flex;
  flex-direction: column;
}

.recipe-suggest-item {
  margin: 20px;
}
