// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body {
//   background-image:  image-url("background.jpg");
//   background-position: 0 0;
//   background-size: contain;
// }
.main {
  display: flex;
  justify-content: center;
  background-image: url(image-url('background.jpg'));
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
  overflow: auto;
  font-variant: small-caps;
}

.wrapper {
  width: 60%;
  background-color: white;
  overflow: auto;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes-container > .heading {
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.recipe-single {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  font-variant: small-caps;
  word-wrap: break-word;
}

.recipe-single img {
margin-top: 10px;
}

.recipe-single a:hover {
  color: #d64862;
}

img {
  width: 300px;
}


.recipe-ingredients {
  display: flex;
}

.recipe-ingredients p {
  margin: 0.1px;
}

.ingredients {
  margin-left: 10px;
}

.preparation {
  margin: 10px;
}
 .add-to-plan, .create-plan {
   margin: 10px;
   align-self: flex-start;
 }
