// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body {
//   background-image:  image-url("background.jpg");
//   background-position: 0 0;
//   background-size: contain;
// }
.main {
  display: flex;
  justify-content: center;
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
}

.wrapper {
  width: 60%;
  background-color: white;
  height: 100%;
}

img {
  width: 300px;
}

.recipe-ingredients {
  display: flex;
}
