// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  display: flex;
  justify-content: center;
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

.wrapper {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 575px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 10px;
}
