// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading {
  margin-top: 30px;
  font-variant: small-caps;
}
.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-size: 20px;
  margin: 10px;
}

.submit-btn input {
  background-color: #e0c0c6;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}
