<div class="top_section">
  <div class="logo_bar">
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
    <div>Click 'n' Eat</div>
  </div>
  <div class="top-bar">
    <div>Recipes</div>
    <div>MyPlans</div>
    <div>ShoppingList</div>
    <div>LogOut</div>
  </div>
</div>
