<div class="main">
  <div class="wrapper">
    <div class="heading">
      <h1>MyPlans</h1>
    </div>
    <div class="plans-section">
      <% @plans.each do |plan| %>
        <div class="plan-single">
          <tr>
            <td><a href="/plans/<%= plan.id %>" ><%= plan.name %></a></td>
          </tr>
        </div>
      <% end %>
    </div>
  </div>
</div>
