<div class="main">
  <div class="wrapper">
    <div class="heading">
      <h1>MyPlan</h1>
    </div>
    <h2><%= @my_plan.name %></h2>
    <div class="plan-container">
      <div class="create-btn">
        <button>
          <%= link_to "Generate ShoppingList", shopping_lists_path(@my_plan), method: :post %>
        </button>
      </div>
      <div class="plan-list">
        <% @my_plan.recipe_plans.each do |recipe_plan| %>
        <div class="plan-list-item">
          <% recipe = recipe_plan.recipe %>
          <p>
            <%= button_to "X", {:controller => :recipe_plans, :action => 'destroy', :id => recipe_plan.id }, class: 'delete-me', :method => :delete %>
            <%= recipe.name %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
