<div class="main">
  <div class="wrapper">
    <div class="heading">
      <h1>MyPlan</h1>
    </div>
    <h2><%= @my_plan.name %></h2>
    <div class="plan-container">
      <div class="create-btn">
        <button>
          <%= link_to "Generate ShoppingList", shopping_lists_path(@my_plan), method: :post %>
        </button>
      </div>
      <div class="plan-list">
        <% @my_plan.recipe_plans.each do |recipe_plan| %>
          <% recipe = recipe_plan.recipe %>
          <p>
            <%= recipe.name %>
            <%= button_to "delete", {:controller => :recipe_plans, :action => 'destroy', :id => recipe_plan.id }, :method => :delete %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
