<div class="main">
  <div class="wrapper">
    <h1>Suggested recipes</h1>
    <div class="recipe-suggest-container">
    <% @recipe_sort.each do |recipe_sort_item| %>
      <div class="recipe-suggest-item">
      <!-- add links -->
      <% recipe_id = recipe_sort_item.first %>
      <% recipe = Recipe.find(recipe_id) %>
      <%= link_to recipe.name, recipe_path(recipe) %>
      </div>
    <% end %>
    </div>
  </div>
</div>
